leelaz
*.o
*.d
training/tf/venv
weights.txt
.idea
/msvc/packages
/msvc/VS2015/x64/Debug
/msvc/VS2015/x64/Release
/msvc/x64/Debug
/msvc/x64/Release
/msvc/leela-zero2015.VC.db
/msvc/leela-zero2015.VC.VC.opendb
/msvc/.vs/leela-zero2015/v14/.suo
