<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.68.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc141" version="1.68.0.0" targetFramework="native" />
  <package id="boost_program_options-vc141" version="1.68.0.0" targetFramework="native" />
  <package id="boost_system-vc141" version="1.68.0.0" targetFramework="native" />
  <package id="OpenBLAS" version="0.2.14.1" targetFramework="native" />
  <package id="opencl-nug" version="0.777.12" targetFramework="native" />
  <package id="zlib-msvc14-x64" version="1.2.11.7795" targetFramework="native" />
</packages>